*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: linear-gradient(to right, #171717,rgb(21, 21, 21));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
p,h1{
    text-align: center;
}
p{
    color: rgba(138, 138, 138, 0.93);
}
.form-group{
    width: 100%;
}
.options{
    display: flex;
    gap:20px;
}
.form-group select,button{
    padding: 10px;
    border-radius: 20px;
    border:none;
    outline: none;
}
#bilgiler{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap:25px;
    width: 90%;
}
.card{
    background-color: #151515;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,.5);      
    margin-top: 50px;      
}
.card h3{
    text-align: center;
    margin-bottom: 15px;
    letter-spacing: 1px;
}
table{
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 12px;
}        
thead{
    background-color: #ff4d4d;
}        
th{
    padding: 12px;
    font-size: 14px;
    text-align: center;
}        
td{
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #ddd;
}        
tbody tr{
    border-bottom: 1px solid #2a2a2a;
    transition: .2s;
}        
tbody tr:last-child{
    border-bottom: none;
}        
.form-group button{
    background:linear-gradient(135deg, #c40808, #ff4f4f);
    transition: all 0.33s ease-in;
    color: white;
    cursor: pointer;
}
.form-group button:hover{
    transform: scale(1.1);
}